In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/sf-salaries/Salaries.csv
/kaggle/input/sf-salaries/database.sqlite

In [2]:
data = pd.read_csv("/kaggle/input/sf-salaries/Salaries.csv")
print(data)

            Id       EmployeeName  \
0            1     NATHANIEL FORD
1            2       GARY JIMENEZ
2            3     ALBERT PARDINI
3            4  CHRISTOPHER CHONG
4            5    PATRICK GARDNER
...        ...                ...
148649  148650      Roy I Tillery
148650  148651       Not provided
148651  148652       Not provided
148652  148653       Not provided
148653  148654          Joe Lopez

                                              JobTitle       BasePay  \
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY     167411.18
1                      CAPTAIN III (POLICE DEPARTMENT)     155966.02
2                      CAPTAIN III (POLICE DEPARTMENT)     212739.13
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC       77916.0
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)      134401.6
...                                                ...           ...
148649                                       Custodian          0.00
148650                                    Not provided  Not Provided
148651                                    Not provided  Not Provided
148652                                    Not provided  Not Provided
148653                      Counselor, Log Cabin Ranch          0.00

         OvertimePay      OtherPay      Benefits   TotalPay  TotalPayBenefits  \
0                0.0     400184.25           NaN  567595.43         567595.43
1          245131.88     137811.38           NaN  538909.28         538909.28
2          106088.18       16452.6           NaN  335279.91         335279.91
3           56120.71      198306.9           NaN  332343.61         332343.61
4             9737.0     182234.59           NaN  326373.19         326373.19
...              ...           ...           ...        ...               ...
148649          0.00          0.00          0.00       0.00              0.00
148650  Not Provided  Not Provided  Not Provided       0.00              0.00
148651  Not Provided  Not Provided  Not Provided       0.00              0.00
148652  Not Provided  Not Provided  Not Provided       0.00              0.00
148653          0.00       -618.13          0.00    -618.13           -618.13

        Year  Notes         Agency Status
0       2011    NaN  San Francisco    NaN
1       2011    NaN  San Francisco    NaN
2       2011    NaN  San Francisco    NaN
3       2011    NaN  San Francisco    NaN
4       2011    NaN  San Francisco    NaN
...      ...    ...            ...    ...
148649  2014    NaN  San Francisco     PT
148650  2014    NaN  San Francisco    NaN
148651  2014    NaN  San Francisco    NaN
148652  2014    NaN  San Francisco    NaN
148653  2014    NaN  San Francisco     PT

[148654 rows x 13 columns]

/tmp/ipykernel_18/1573859855.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("/kaggle/input/sf-salaries/Salaries.csv")

In [3]:
print(data.head(10))

   Id        EmployeeName                                        JobTitle  \
0   1      NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2        GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3      ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4   CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5     PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
5   6      DAVID SULLIVAN                       ASSISTANT DEPUTY CHIEF II
6   7           ALSON LEE              BATTALION CHIEF, (FIRE DEPARTMENT)
7   8       DAVID KUSHNER                  DEPUTY DIRECTOR OF INVESTMENTS
8   9      MICHAEL MORRIS              BATTALION CHIEF, (FIRE DEPARTMENT)
9  10  JOANNE HAYES-WHITE          CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)

     BasePay OvertimePay   OtherPay Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.0  400184.25      NaN  567595.43         567595.43
1  155966.02   245131.88  137811.38      NaN  538909.28         538909.28
2  212739.13   106088.18    16452.6      NaN  335279.91         335279.91
3    77916.0    56120.71   198306.9      NaN  332343.61         332343.61
4   134401.6      9737.0  182234.59      NaN  326373.19         326373.19
5   118602.0      8601.0  189082.74      NaN  316285.74         316285.74
6   92492.01     89062.9  134426.14      NaN  315981.05         315981.05
7  256576.96         0.0    51322.5      NaN  307899.46         307899.46
8  176932.64    86362.68   40132.23      NaN  303427.55         303427.55
9   285262.0         0.0   17115.73      NaN  302377.73         302377.73

   Year  Notes         Agency Status
0  2011    NaN  San Francisco    NaN
1  2011    NaN  San Francisco    NaN
2  2011    NaN  San Francisco    NaN
3  2011    NaN  San Francisco    NaN
4  2011    NaN  San Francisco    NaN
5  2011    NaN  San Francisco    NaN
6  2011    NaN  San Francisco    NaN
7  2011    NaN  San Francisco    NaN
8  2011    NaN  San Francisco    NaN
9  2011    NaN  San Francisco    NaN

In [4]:
print(data.tail(10))

            Id      EmployeeName                      JobTitle       BasePay  \
148644  148645      Randy D Winn  Stationary Eng, Sewage Plant          0.00
148645  148646  Carolyn A Wilson     Human Services Technician          0.00
148646  148647      Not provided                  Not provided  Not Provided
148647  148648    Joann Anderson   Communications Dispatcher 2          0.00
148648  148649       Leon Walker                     Custodian          0.00
148649  148650     Roy I Tillery                     Custodian          0.00
148650  148651      Not provided                  Not provided  Not Provided
148651  148652      Not provided                  Not provided  Not Provided
148652  148653      Not provided                  Not provided  Not Provided
148653  148654         Joe Lopez    Counselor, Log Cabin Ranch          0.00

         OvertimePay      OtherPay      Benefits  TotalPay  TotalPayBenefits  \
148644          0.00          0.00          0.00      0.00              0.00
148645          0.00          0.00          0.00      0.00              0.00
148646  Not Provided  Not Provided  Not Provided      0.00              0.00
148647          0.00          0.00          0.00      0.00              0.00
148648          0.00          0.00          0.00      0.00              0.00
148649          0.00          0.00          0.00      0.00              0.00
148650  Not Provided  Not Provided  Not Provided      0.00              0.00
148651  Not Provided  Not Provided  Not Provided      0.00              0.00
148652  Not Provided  Not Provided  Not Provided      0.00              0.00
148653          0.00       -618.13          0.00   -618.13           -618.13

        Year  Notes         Agency Status
148644  2014    NaN  San Francisco     PT
148645  2014    NaN  San Francisco     PT
148646  2014    NaN  San Francisco    NaN
148647  2014    NaN  San Francisco     PT
148648  2014    NaN  San Francisco     PT
148649  2014    NaN  San Francisco     PT
148650  2014    NaN  San Francisco    NaN
148651  2014    NaN  San Francisco    NaN
148652  2014    NaN  San Francisco    NaN
148653  2014    NaN  San Francisco     PT

In [5]:
print(data.shape)

(148654, 13)

In [6]:
print(data.shape[0])
print(data.shape[1])

148654
13

In [7]:
print(data.dtypes)

Id                    int64
EmployeeName         object
JobTitle             object
BasePay              object
OvertimePay          object
OtherPay             object
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Notes               float64
Agency               object
Status               object
dtype: object

In [8]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB
None

In [9]:
print(len(data))

148654

In [10]:
print(len(data.columns))

13

In [11]:
print(data.isnull())

           Id  EmployeeName  JobTitle  BasePay  OvertimePay  OtherPay  \
0       False         False     False    False        False     False
1       False         False     False    False        False     False
2       False         False     False    False        False     False
3       False         False     False    False        False     False
4       False         False     False    False        False     False
...       ...           ...       ...      ...          ...       ...
148649  False         False     False    False        False     False
148650  False         False     False    False        False     False
148651  False         False     False    False        False     False
148652  False         False     False    False        False     False
148653  False         False     False    False        False     False

        Benefits  TotalPay  TotalPayBenefits   Year  Notes  Agency  Status
0           True     False             False  False   True   False    True
1           True     False             False  False   True   False    True
2           True     False             False  False   True   False    True
3           True     False             False  False   True   False    True
4           True     False             False  False   True   False    True
...          ...       ...               ...    ...    ...     ...     ...
148649     False     False             False  False   True   False   False
148650     False     False             False  False   True   False    True
148651     False     False             False  False   True   False    True
148652     False     False             False  False   True   False    True
148653     False     False             False  False   True   False   False

[148654 rows x 13 columns]

In [12]:
print(data.isnull().sum())

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

In [13]:
print(data.drop(['Id', 'Notes', 'Agency', 'Status'], axis=1))

             EmployeeName                                        JobTitle  \
0          NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1            GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2          ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3       CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4         PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
...                   ...                                             ...
148649      Roy I Tillery                                       Custodian
148650       Not provided                                    Not provided
148651       Not provided                                    Not provided
148652       Not provided                                    Not provided
148653          Joe Lopez                      Counselor, Log Cabin Ranch

             BasePay   OvertimePay      OtherPay      Benefits   TotalPay  \
0          167411.18           0.0     400184.25           NaN  567595.43
1          155966.02     245131.88     137811.38           NaN  538909.28
2          212739.13     106088.18       16452.6           NaN  335279.91
3            77916.0      56120.71      198306.9           NaN  332343.61
4           134401.6        9737.0     182234.59           NaN  326373.19
...              ...           ...           ...           ...        ...
148649          0.00          0.00          0.00          0.00       0.00
148650  Not Provided  Not Provided  Not Provided  Not Provided       0.00
148651  Not Provided  Not Provided  Not Provided  Not Provided       0.00
148652  Not Provided  Not Provided  Not Provided  Not Provided       0.00
148653          0.00          0.00       -618.13          0.00    -618.13

        TotalPayBenefits  Year
0              567595.43  2011
1              538909.28  2011
2              335279.91  2011
3              332343.61  2011
4              326373.19  2011
...                  ...   ...
148649              0.00  2014
148650              0.00  2014
148651              0.00  2014
148652              0.00  2014
148653           -618.13  2014

[148654 rows x 9 columns]

In [14]:
data.describe()

                  Id       TotalPay  TotalPayBenefits           Year  Notes
count  148654.000000  148654.000000     148654.000000  148654.000000    0.0
mean    74327.500000   74768.321972      93692.554811    2012.522643    NaN
std     42912.857795   50517.005274      62793.533483       1.117538    NaN
min         1.000000    -618.130000       -618.130000    2011.000000    NaN
25%     37164.250000   36168.995000      44065.650000    2012.000000    NaN
50%     74327.500000   71426.610000      92404.090000    2013.000000    NaN
75%    111490.750000  105839.135000     132876.450000    2014.000000    NaN
max    148654.000000  567595.430000     567595.430000    2014.000000    NaN

In [15]:
data.describe(include='all')

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
count,148654.000000,148654,148654,148049.0,148654.0,148654.0,112495.0,148654.000000,148654.000000,148654.000000,0.0,148654,38119
unique,NaN,110811,2159,109900.0,66555.0,84968.0,99635.0,NaN,NaN,NaN,NaN,1,2
top,NaN,Kevin Lee,Transit Operator,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,San Francisco,FT
freq,NaN,13,7036,875.0,66103.0,35218.0,1053.0,NaN,NaN,NaN,NaN,148654,22334
mean,74327.500000,NaN,NaN,NaN,NaN,NaN,NaN,74768.321972,93692.554811,2012.522643,NaN,NaN,NaN
std,42912.857795,NaN,NaN,NaN,NaN,NaN,NaN,50517.005274,62793.533483,1.117538,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,-618.130000,-618.130000,2011.000000,NaN,NaN,NaN
25%,37164.250000,NaN,NaN,NaN,NaN,NaN,NaN,36168.995000,44065.650000,2012.000000,NaN,NaN,NaN
50%,74327.500000,NaN,NaN,NaN,NaN,NaN,NaN,71426.610000,92404.090000,2013.000000,NaN,NaN,NaN
75%,111490.750000,NaN,NaN,NaN,NaN,NaN,NaN,105839.135000,132876.450000,2014.000000,NaN,NaN,NaN
max,148654.000000,NaN,NaN,NaN,NaN,NaN,NaN,567595.430000,567595.430000,2014.000000,NaN,NaN,NaN

In [16]:
data['EmployeeName'].value_counts().head()

EmployeeName
Kevin Lee       13
Richard Lee     11
Steven Lee      11
William Wong    11
Stanley Lee      9
Name: count, dtype: int64

In [17]:
data['JobTitle'].nunique()

2159

In [18]:
len(data[data['JobTitle'].str.contains('CAPTAIN', case = False)])
# This code will consider the lower and upper case both

552

In [19]:
len(data[data['JobTitle'].str.contains('CAPTAIN')])

141

In [20]:
len(data[data['JobTitle']=='CAPTAIN '][['Id']])  
## This code will search for the word CAPTAIN only. it will not consider the further string

0

In [21]:
data[data['JobTitle'].str.contains('FIRE', case= False)]['EmployeeName']

4            PATRICK GARDNER
6                  ALSON LEE
8             MICHAEL MORRIS
9         JOANNE HAYES-WHITE
10             ARTHUR KENNEY
                 ...
145956      Kenneth C Farris
147556         Edward A Dunn
148021        Kari A Johnson
148209          Sheryl K Lee
148554       Lawrence F Gatt
Name: EmployeeName, Length: 5879, dtype: object

In [22]:
data['BasePay'].describe()

count     148049.0
unique    109900.0
top            0.0
freq         875.0
Name: BasePay, dtype: float64

In [23]:
data['EmployeeName']

0            NATHANIEL FORD
1              GARY JIMENEZ
2            ALBERT PARDINI
3         CHRISTOPHER CHONG
4           PATRICK GARDNER
                ...
148649        Roy I Tillery
148650         Not provided
148651         Not provided
148652         Not provided
148653            Joe Lopez
Name: EmployeeName, Length: 148654, dtype: object

In [24]:
data['EmployeeName'].replace({'Not provided': np.nan})

0            NATHANIEL FORD
1              GARY JIMENEZ
2            ALBERT PARDINI
3         CHRISTOPHER CHONG
4           PATRICK GARDNER
                ...
148649        Roy I Tillery
148650                  NaN
148651                  NaN
148652                  NaN
148653            Joe Lopez
Name: EmployeeName, Length: 148654, dtype: object

In [25]:
print(data.isnull().sum(axis =1)==5)

0         False
1         False
2         False
3         False
4         False
          ...
148649    False
148650    False
148651    False
148652    False
148653    False
Length: 148654, dtype: bool

In [26]:
print(data[data.isnull().sum(axis =1)==3])

            Id       EmployeeName  \
0            1     NATHANIEL FORD
1            2       GARY JIMENEZ
2            3     ALBERT PARDINI
3            4  CHRISTOPHER CHONG
4            5    PATRICK GARDNER
...        ...                ...
110526  110527     Arthur L Curry
110527  110528      Nereida  Vega
110528  110529   Timothy E Gibson
110529  110530     Mark E Laherty
110530  110531      David P Kucia

                                              JobTitle    BasePay OvertimePay  \
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  167411.18         0.0
1                      CAPTAIN III (POLICE DEPARTMENT)  155966.02   245131.88
2                      CAPTAIN III (POLICE DEPARTMENT)  212739.13   106088.18
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC    77916.0    56120.71
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)   134401.6      9737.0
...                                                ...        ...         ...
110526                         PS Aide Health Services        NaN         0.0
110527                                    Senior Clerk        NaN         0.0
110528                                Police Officer 3        NaN         0.0
110529                                Police Officer 3        NaN         0.0
110530                                Police Officer 3        NaN         0.0

         OtherPay Benefits   TotalPay  TotalPayBenefits  Year  Notes  \
0       400184.25      NaN  567595.43         567595.43  2011    NaN
1       137811.38      NaN  538909.28         538909.28  2011    NaN
2         16452.6      NaN  335279.91         335279.91  2011    NaN
3        198306.9      NaN  332343.61         332343.61  2011    NaN
4       182234.59      NaN  326373.19         326373.19  2011    NaN
...           ...      ...        ...               ...   ...    ...
110526      10.67      0.0      10.67             10.67  2013    NaN
110527       5.56      0.0       5.56              5.56  2013    NaN
110528        0.0    -2.73       0.00             -2.73  2013    NaN
110529        0.0     -8.2       0.00             -8.20  2013    NaN
110530        0.0   -33.89       0.00            -33.89  2013    NaN

               Agency Status
0       San Francisco    NaN
1       San Francisco    NaN
2       San Francisco    NaN
3       San Francisco    NaN
4       San Francisco    NaN
...               ...    ...
110526  San Francisco    NaN
110527  San Francisco    NaN
110528  San Francisco    NaN
110529  San Francisco    NaN
110530  San Francisco    NaN

[36764 rows x 13 columns]

In [27]:
data.isnull().sum(axis =1)

0         3
1         3
2         3
3         3
4         3
         ..
148649    1
148650    2
148651    2
148652    2
148653    1
Length: 148654, dtype: int64

In [28]:
data[data.isnull().sum(axis =1)==3]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110526,110527,Arthur L Curry,PS Aide Health Services,NaN,0.0,10.67,0.0,10.67,10.67,2013,NaN,San Francisco,NaN
110527,110528,Nereida Vega,Senior Clerk,NaN,0.0,5.56,0.0,5.56,5.56,2013,NaN,San Francisco,NaN
110528,110529,Timothy E Gibson,Police Officer 3,NaN,0.0,0.0,-2.73,0.00,-2.73,2013,NaN,San Francisco,NaN
110529,110530,Mark E Laherty,Police Officer 3,NaN,0.0,0.0,-8.2,0.00,-8.20,2013,NaN,San Francisco,NaN
110530,110531,David P Kucia,Police Officer 3,NaN,0.0,0.0,-33.89,0.00,-33.89,2013,NaN,San Francisco,NaN

In [29]:
data.drop(data[data.isnull().sum(axis =1)==3].index, axis = 0, inplace = True)

In [30]:
data.isnull().sum(axis =1)

36159     2
36160     2
36161     2
36162     2
36163     2
         ..
148649    1
148650    2
148651    2
148652    2
148653    1
Length: 111890, dtype: int64

In [31]:
data[data['EmployeeName']=='Albert Pardini']

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
36519,36520,Albert Pardini,Captain 3,196265.04,0.0,11404.04,46326.21,207669.08,253995.29,2012,NaN,San Francisco,NaN

In [32]:
data[data['EmployeeName']=='Albert Pardini']['TotalPayBenefits']

36519    253995.29
Name: TotalPayBenefits, dtype: float64

In [33]:
data['BasePay']

36159        128808.87
36160         302578.0
36161         111921.0
36162        296943.01
36163        126863.19
              ...
148649            0.00
148650    Not Provided
148651    Not Provided
148652    Not Provided
148653            0.00
Name: BasePay, Length: 111890, dtype: object

In [34]:
data['BasePay'] = pd.to_numeric(data['BasePay'], errors='coerce')

In [35]:
data.dropna(subset=['BasePay'], inplace=True)
print(data['BasePay'])

36159     128808.87
36160     302578.00
36161     111921.00
36162     296943.01
36163     126863.19
            ...
148645         0.00
148647         0.00
148648         0.00
148649         0.00
148653         0.00
Name: BasePay, Length: 111886, dtype: float64

In [36]:
data[data['BasePay'].max()==data['BasePay']]#['EmployeeName']

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
72925,72926,Gregory P Suhr,Chief of Police,319275.01,0.0,20007.06,86533.21,339282.07,425815.28,2013,NaN,San Francisco,NaN

In [37]:
data[data['BasePay'].max()==data['BasePay']]['EmployeeName']

72925    Gregory P Suhr
Name: EmployeeName, dtype: object

In [38]:
data['BasePay'] = pd.to_numeric(data['BasePay'], errors='coerce')
result = data.groupby('Year')['BasePay'].mean()
print(result)

Year
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [39]:
data.groupby('Year')['BasePay'].mean()

Year
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [40]:
data[data['JobTitle'].str.contains('Accountant', case= False)]['BasePay'].mean()

75336.18288798921

In [41]:
data['JobTitle'].value_counts().head()

JobTitle
Transit Operator                6975
Special Nurse                   4382
Registered Nurse                3725
Public Svc Aide-Public Works    2514
Police Officer 3                2411
Name: count, dtype: int64